
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
 body{
     background-color: #096979;
 }

.container,.buttons{
    
   
    display:flex;
    justify-content:center;
  
}

 span{
    font-size: 3 rem;
 }

button{
    padding: 5px 10px;
    margin: 50px 20px;
    margin-top: 50px;
}

.container{
    margin-top: 150px;

}
h1+h1::before{
    content:":"
}

#pause{
    display: none;
}
